// Theme Variables
$primary-color: #fdd835;
$primary-dark: #c6a700;
$primary-light: #ffff6b;
$primary-text: #000000;
$secondary-color: #fb8c00;
$secondary-dark: #c25e00;
$secondary-light: #ffbd45;
$secondary-text: #000000;

// Global Styles
body {
  background-color: $primary-color;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  .explainer {
    color: $secondary-color;
  }
}

.file-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  input {
    display: none;
  }
  .selected-file {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px;
    p {
      margin: 10px 10px 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .green {
      color: #4CAF50;
    }
    .red {
      color: #F44336;
    }
  }
  .upload-button {
    margin-bottom: 10px;
    width: 160px;
  }
}

.error {
  font-size: 12px;
  color: #F44336;
}

// Route Styling Imports
@import 'scss/application';
@import 'scss/documents';
