.documents-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  .form {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    color: $primary-color;
    p{
      margin: 5px;
      text-align: left;
    }
    .button {
      margin-top: 30px;
    }
    .details{
      font-weight: 500;
      .value{
        font-weight: 300;
        align-self: flex-end;
      }
    }
  }
  .initial-upload .passport .success{
    align-items: center;
  }
}
